body {
  box-sizing: border-box;
}
body * {
  font-family: var(--font);
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
body section {
  padding: 2rem;
}
body html {
  font-size: 62.6%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
body html::-webkit-scrollbar {
  width: 0.8rem;
}
body html::-webkit-scrollbar-track {
  background: transparent;
}
body html::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 5rem;
}
@media (max-width: 991px) {
  body .html {
    font-size: 55%;
  }
}

.header {
  display: flex;
  margin: 0;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
.header .box-container {
  display: flex;
}
@media screen and (max-width: 833px) {
  .header .box-container {
    width: 250px;
    height: 400px;
    position: absolute;
    background-color: white;
    right: 0px;
    top: 150px;
    flex-direction: column;
  }
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
}
.header .nav a {
  font-size: 1.6rem;
  color: white;
  margin: 1rem;
  font-family: "Bebas Neue", cursive;
  width: 50px;
}
@media screen and (max-width: 833px) {
  .header .nav a {
    justify-content: left;
    align-items: left;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: 2rem;
  }
}
.header .nav a:hover {
  color: #ff914d;
  border-bottom: 3px solid #ff914d;
  transition: all 0.3s ease;
  width: 100%;
}
.header .nav .input {
  width: 150px;
  height: 30px;
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
}
.header .nav .menu-btn {
  width: 33px;
  height: 33px;
  right: 0;
  cursor: pointer;
  opacity: 0;
}
@media screen and (max-width: 833px) {
  .header .nav .menu-btn {
    opacity: 1;
    position: absolute;
  }
}
.header .nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  flex-flow: wrap;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  font-family: "Bebas Neue", cursive;
}
.main .container-card {
  width: 100%;
  display: flex;
  height: 100%;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  padding-top: 10%;
}
.main .container-card .box-container {
  width: 100%;
  flex-direction: row;
}
.main .container-card .card {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: 200px;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border: 2px solid rgb(182, 12, 12);
}
.main .container-card .card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */