.footer {
  display: flex;
  align-items: center;
  font-family: var(--font);
  background-color: var(--button);
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  padding: 1rem;
}

.social {
  display: block;

  margin: 3rem 1rem;
}

.copyright {
  color: var(--white);
  font-size: 1.6rem;
  margin-right: 1rem;
}

@media screen and (min-width: 459px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
