.header {
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: transparent;
}

.scrolling-active {
  background-color: black;
}



.header .logo {
  height: 6rem;
}

.header .icons div {
  cursor: pointer;
  margin-left: 2rem;
}
.market {
  display: flex;
  justify-content: center;
}
.market .img {
  width: 30px;
}

.header .navbar a {
  margin: 1rem;
  font-size: 1.6rem;
  color: var(--white);
}

.header .navbar.active {
  right: 0;
}

.header .navbar a:hover {
  color: var(--button);
  border-bottom: 0.2rem solid var(--button);
  padding-bottom: 0.5rem;
}


#menu-btn {
  display: none;
}
@media (max-width: 991px) {
  .header {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 949px) {
  #market-btn {
    display: inline-block;
  }

  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--white);

    width: 15rem;
    height: calc(100vh- 9.5rem);
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--black);
  }
}
